<!DOCTYPE>
<html>
    
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	        <link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
	        <link rel='stylesheet' type='text/css' href='app.css'>
    </head>
    
    <body style='background: linear-gradient(0deg, rgba(255,241,176,1) 6%, rgba(255,192,180,1) 80%); '>
        <title>Bot Says</title>
        <div class="header row">
            <div class="col-sm" id="feedbackL"></div>
            
            <h1 class='col-sm container display-3' style='padding-bottom: 20px;'>Bot Says</h1>
            
            <div class="col-sm" id="feedbackR"></div>
        </div>
        
        <div id="endDiv">
            
        </div>
        
        <!--<button onClick='appendBot("potatoe")'>testerBot</button> <!--THIS WAS FOR TESTING-->
        <!--<button onClick='appendHuman("potatoe")'>testerHuman</button> <!--THIS WAS FOR TESTING-->

        <div class="container" id="display_game_statistics">
            <div class="row" style='padding: 30px;'>
                
                <div class="col-sm" id="points" style='background: lightyellow;'><h3>0</h3></div>
                <div class="col-sm" id="lives"><h3 style='background: linear-gradient(90deg, cyan 38%, green 100%); height: 100%;'>4</h3></div>
                <div class="col-sm" id="difficulty"><h3 style='background-image: linear-gradient(to right, cyan , green); height: 100%;'>intro</h3></div>
                
            </div>
        </div>
        
        <div class="bot_says_game rounded-lg" id="bot_says_game">  <!--the class for this div is in the app.css-->
            <!--<h10>potatoe</h10>-->
                <div class='container border border-danger float-right rounded-lg' style='border-width:4px !important; background-color: #ffe0dd;'><h4>Some explaination</h4>
                </div><br>
                
                <div class='container border border-primary float-left rounded-lg' style='border-width:6px !important; background-color: #e4e7ff;'>
                    <h4 style='text-align: center;'>Some gif demo</h4>
                    
                <br><button class='btn btn-success' id='inputsButton' onClick='controller()'>Ready?</button></div><br><br>
        </div>
        
        
        <script src='jswork/bot_says.js'></script>
    </body>
    
</html>