<!DOCTYPE>
<html>
    
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	        <link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
	        <link rel='stylesheet' type='text/css' href='app.css'>
    </head>
    
    <body>
        <title>Bot Says</title>
        <div class="header">
            <h1>Bot Says</h1>
        </div>
        
        <button onClick='appendBot("potatoe")'>testerBot</button> <!--THIS WAS FOR TESTING-->
        <button onClick='appendHuman("potatoe")'>testerHuman</button> <!--THIS WAS FOR TESTING-->

        <div class="container" id="display_game_statistics">
            <div id="points"><h3>0</h3></div>
            <div id="lives"><h3>4</h3></div>
        </div>
        
        <div class="bot_says_game" id="bot_says_game">  <!--the class for this div is in the app.css-->
            <!--<h10>potatoe</h10>-->
                <div class='container border border-danger float-right'><h4>Some explaination</h4>
                </div><br>
                
                <div class='container border border-primary float-left'>
                    <h4>Some gif demo</h4>
                <br><button id='inputsButton' onClick='controller()'>Ready?</button></div><br><br>
        </div>
        
        
        <script src='jswork/bot_says.js'></script>
    </body>
    
</html>