<!DOCTYPE html>
<html>

    <head>
        <head>
            <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	        <link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
	        <link rel='stylesheet' type='text/css' href='app.css'>
        </head>
    </head>

    <body style="background-image: linear-gradient(#d5e2ed, #bad072);">
        
        <div id="headerSection">
            <h1>Candidate logged in</h1>
            <h3>Hello candidate: <%= candidate.candidate_id%></h3>
        </div>
        <div id="buttonSelection">
            <a href="/into_categories"><button>Categories</button></a>
            <br>
            <a href="/into_gamepad"><button>Game Pad</button></a>
            <br>
            <a href="/bot_says"><button>Bot_says</button></a>
            <br>
            <a href="/where_my_error"><button>Where_my_error</button></a>
            <br>
            <a href="/fast_or_faster"><button>Fast_or_faster</button></a>
            <br>
            <a href="/log_out"><button>Log out</button></a>
            <br>
        </div>
        
        <script src="jswork/create.js"></script>

    </body>
</html>