<!DOCTYPE html>
<html>

    <head>
        <head>
            <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	        <link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
	        <link rel='stylesheet' type='text/css' href='app.css'>
        </head>
    </head>

    <body>
        
        <div>
            <h1>Candidate logged in</h1>
            <h3>Hello candidate: <%= candidate.candidate_id%></h3>
            <form action='/into_categories' method='POST'>
                <button class="btn btn-link">Categories</button>
            </form>
            <form action='/into_gamepad' method='POST'>
                <button class="btn btn-link">Game Pad</button>
            </form>
        </div>
        
        <form action='/into_gamepad' method='POST'>
            <div class='col-sm-12'>
                <button class="btn btn-link">Game Pad</button>
            </div>
            
        </form>

        <a href="/bot_says"><button>Bot_says</button></a>
        <a href="/where_my_error"><button>Where_my_error</button></a>
        
        <a href="/log_out"><button>Log out</button></a>
        
        <script src="jswork/create.js"></script>

    </body>
</html>