<!DOCTYPE html>
<html>

    <head>
        <head>
            <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	        <link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
	        <link rel='stylesheet' type='text/css' href='app.css'>
        </head>
    </head>

    <body>
        
        <div>
            <h1>Candidate logged in</h1>
            <label class='font-italic font-weight-light' >Categories section</label>
        </div>
        
        <div class='container'>
            <div class='jumbotron'>
                <div align='center'>
                     
                    <strong>
                        <p>*Question Name*</p>    
                    </strong>
                    
                    <br>
                    
                    <strong>
                        <p>*Answer Choice* AnswerChoice*</p>
                        <p>*Answer Choice* AnswerChoice*</p>
                    </strong>
                    
                    <input id='answer' name='answer' placeholder'insert answer here' required>
                    
                    </br>
                    </br>
                    
                    <div class='col-sm-4'>
                        <button class='btn btn-dark btn-lg' type="button" onclick=inputNum(this) id='one'>Answer 1</button>
                        <button class='btn btn-dark btn-lg' type="button" onclick=inputNum(this) id='two'>Answer 2</button>
                    </div>
                    <div class='col-sm-4'>
                        <button class='btn btn-dark btn-lg' type="button" onclick=inputNum(this) id='four' >Answer 3</button>
                        <button class='btn btn-dark btn-lg' type="button" onclick=inputNum(this) id='five' >Answer 4</button>
                    </div>
                    
                    </br>
                    
                    <form action='/is_correct' method='POST'>
                             <button class='btn btn-primary btn-lg'>Enter</button>
                    </form>
                    
                    <script>
                        function inputNum(num){
                            var text = document.getElementById("answer");
                            var numb = num.innerHTML;
                            text.value = text.value + numb;
                        }
                        
                    </script>
                    
                </div>
            
                </br>
                </br>
                <div align='right'>
                    <form action='/return_candidate' method='POST'>
                        <div class='col-sm-2'>
                        <button class='btn btn-primary btn-sm btn-block'>Return to Menu</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>

        
        
    </body>
</html>