<!DOCTYPE html>
<html>
    <link href="fast.css" rel="stylesheet">
    <script src="jswork/fast.js"></script>

    <div id="fastWrap">
        <div id="fastQn">
            QUESTION HERE
            <div id="toHide"><button  onClick='fast.init()'>ready?</button></div>
        </div>

        <div id="fastAns">
            <input type="radio" name="fast" id="fasto0">
            <label for="fasto0" data-idx="0">OPTION 1</label>

            <input type="radio" name="fast" id="fasto1">
            <label for="fasto1" data-idx="1">OPTION 2</label>
        </div>
    </div>
</html>