<!DOCTYPE html>
<html>

    <head>
        <head>
            <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	        <link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
	        <link rel='stylesheet' type='text/css' href='app.css'>
        </head>
    </head>

    <body style="background-image: linear-gradient(#2b486a, #69849b, #d5e2ed);">
        
        <div>
            <h1>Candidate logged in</h1>
            <label class='font-italic font-weight-light' >GamePad section</label>
        </div>
        
        <div class='container'>
            <div class='jumbotron'>
                <div align='center'>
                     
                    <strong>  
                        <p class="font-italic" > Three lives per quesiton. Lose all three and question marked wrong. Good luck!</p>
                    </strong>
                    
                    <figure>
                        <img src="img/dataEncap1.png" alt="pointers1" class="col-sm-4 portrait">
                    </figure>
                    
                    <p>In the code snippet what incorporates data encapsulation?</p>
                    <p><strong>7339</strong>) num1 and num2.</p>
                    <p><strong>1726</strong>) example1 and ex2.</p>
                    <p><strong>3061</strong>) public and private members.</p>
                    <p><strong>9210</strong>) example class and int main().</p>
                    
                    <form action='/is_correct7' method='POST'>
                        <input id='answer' name='answer' value='insert here' required>
                        
                        </br>
                        </br>
                        
                        <div class='col-sm-4'>
                            <button class='btn btn-dark btn-lg' type="button" onclick=inputNum(this) id='one'>1</button>
                            <button class='btn btn-dark btn-lg' type="button" onclick=inputNum(this) id='two'>2</button>
                            <button class='btn btn-dark btn-lg' type="button" onclick=inputNum(this) id='three'>3</button>
                            
                        </div>
                        <div class='col-sm-4'>
                            <button class='btn btn-dark btn-lg' type="button" onclick=inputNum(this) id='four' >4</button>
                            <button class='btn btn-dark btn-lg' type="button" onclick=inputNum(this) id='five' >5</button>
                            <button class='btn btn-dark btn-lg' type="button" onclick=inputNum(this) id='six' >6</button>
                        </div>
                        <div class='col-sm-4'>
                            <button class='btn btn-dark btn-lg' type="button" onclick=inputNum(this) id='seven' >7</button>
                            <button class='btn btn-dark btn-lg' type="button" onclick=inputNum(this) id='eight' >8</button>
                            <button class='btn btn-dark btn-lg' type="button" onclick=inputNum(this) id='nine' >9</button>
                        </div>
                        <div class='col-sm-4'>
                            <button class='btn btn-dark btn-lg' type="button" onclick=inputNum(this) id='zero' >0</button>
                            <button class='btn btn-dark btn-lg' type="button" onclick=c() id='clear' >Clear</button>
                            <button class='btn btn-dark btn-lg' type="button" onclick=backSpace() id='back' >backspace</button>
                        </div>
                        
                        </br>
                        
                        
                        <button id="enter" class='btn btn-primary btn-lg'>Enter</button>
                    </form>
                    
                    <script>
                        function inputNum(num){
                            var text = document.getElementById("answer");
                            var numb = num.innerHTML;
                            text.value = text.value + numb;
                        }
                        
                        function c(){
                            var text = document.getElementById("answer");
                            text.value = "";
                        }
                        
                        function backSpace(){
                            var text = document.getElementById("answer");
                            let str = text.value;
                            str = str.slice(0, -1);
                            text.value = "" + str;
                        }
                        
                    </script>
                    
                </div>
            
                </br>
                </br>
                <div align='right'>
                    <div id="clockTimer"></div>
                    <script>
                        // how long the timer will last
                        var timer = 1;
                        // obtaining current time when launched
                        var currentTime = Date.parse(new Date());
                        // when the timer should end adding the timer to the current date
                        var end = new Date(currentTime + timer*60*1000);
                        
                        //returns countdouwn print out
                        function countdown(end){
                            var time = Date.parse(end) - Date.parse(new Date());
                            var seconds = Math.floor((time/1000) % 60);
                            var minutes = Math.floor((time/1000/60) % 60);
                            return{'total':time, 'minutes':minutes, 'seconds':seconds};
                        }
                        
                        function running(id, end){
                            var clock = document.getElementById(id);
                            
                            function update(){
                                var time = countdown(end);
                                clock.innerHTML = 'minutes: ' + time.minutes + ' - seconds: ' + time.seconds;
                                if(time.total <= 0){
                                    clearInterval(intervals);
                                }
                                
                                if(time.total == 0){
                                    document.getElementById("enter").click();
                                }
                            }
                            update();
                            var intervals = setInterval(update, 1000);
                        }
                        running('clockTimer', end);
                    </script>
                    
                </div>
                
            </div>
        </div>

        
        
    </body>
</html>