<!DOCTYPE html>
<html>
    <head>
        <title>ENTRY GAMES</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	    <link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
	    <link rel='stylesheet' type='text/css' href='app.css'>
    </head>
    
    <div>
        <div class="header">
            <h1 style='font-size: 60px'><p style="text-align:center">ENTRY GAMES</p></b></h1>
            <h1 style='font-size: 30px'><p style="text-align:center"> Entry level C++ assessing for candidates </p></b></h1>
        </div>
    </div>
    
</html>