<!DOCTYPE html>
<html>

    <head>
        <head>
            <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	        <link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
	        <link rel='stylesheet' type='text/css' href='app.css'>
        </head>
    </head>

    <body>
        <h1>Recruiter logged in</h1>
        
        <button onclick='requestCandidateId()'>Click test</button>
        <div id="id_display"></div>
        
        <input type="number" id="search_id" name="quantity" min="1000" max="9999" placeholder="ex: 1235">
        <button onclick='seeCandidate()'>Click test 2</button>
        
        <div id="cand_display"></div>
        
        <div id="search_results"></div>
        
        <script src="jswork/create.js"></script>
    </body>
</html>