<!DOCTYPE>

<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
        <title>Where's My Error</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	        <link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
	        <link rel='stylesheet' type='text/css' href='app.css'>
    </head>
    
    <body>
        <div class='container'>
            <h1>Where's my error!</h1>
        </div>
        
        <button onClick='controller()'>TEST</button>
        
        
        <div class='container' id="where_my_error_game">
            
            <div class='row' id='single'>
                
                <div class='col-sm'>
                    <div class='row'>QUESTION HERE</div> <!--GOTTA MAKE THIS ONE LINE-->
                    <div class='row'>TIMER HERE</div>
                </div>
                
                <div class='col-md'>CHOICES HERE</div> <!--GOTTA MAKE THIS OTHER LINE-->

            </div> 
            
        </div> <!--THIS CLOSES THE where_my_error_game-->
        
        <script src='jswork/where_my_error.js'></script>
    </body>
    
</html>