html{
    min-height: 100%;
}

.header{
    text-align: center;
    color: black;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    background-color: rgb(242, 244, 255);
    font-family: cursive;
    text-align: center;
}

#headerSection{
    padding-bottom: 50px; 
}

#buttonSelection{
    font-size: 25px;
}

main{
    flex: 1;
}

.bot_says_game{
    background-color: lightyellow;
    margin-left: 125px;
    margin-right: 125px;
}

